#header {
    background: #00ADA7;
    color: #FFFFDC;
}

#branding h1 {
    color: #FFFFDC;
}

a:link,
a:visited {
    color: #DE3961;
}

div.breadcrumbs {
    background: #B3EECC;
    color: #DE3961;
}

div.breadcrumbs a {
    color: #ee859f;
}

.module h2, .module caption, .inline-group h2 {
    background: #A4E570;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #00ADA7;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #A4E570;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
background: #DE3961;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: #DE3961;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #A4E570;
    color: #A4E570;
}
