{% load static %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sk. Abu Shahed Alam's Resume" />
    <!-- webfonts -->
    <link href="//fonts.googleapis.com/css?family=Asap:400,700,400italic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- webfonts -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
          event.preventDefault();
          $("html,body").animate(
            { scrollTop: $(this.hash).offset().top },
            1000
          );
        });
      });
    </script>
    <!-- start-smoth-scrolling -->
    <title>Resume {% block title %} {% endblock %}</title>
  </head>

  <body>
    <!-- Top Bar -->
    {% include 'partials/_topbar.html' %}

    <!-- Main content -->
    {% block content %} {% endblock %}

    <a href="#home" id="toTop" style="display: block">
      <span id="toTopHover" style="opacity: 1"> </span>
    </a>
    <!--start-smooth-scrolling-->
    <script type="text/javascript">
      $(document).ready(function () {
        $().UItoTop({ easingType: "easeOutQuart" });
      });
    </script>
    <!--end-smooth-scrolling-->
    <!-- //for bootstrap working -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
